body {
  background:#1f2125;
}

svg {
  display:block;
  margin:auto;
}

ul {
  color: white;
  text-decoration: none;
}

.windowbar {
  width:100%;
  background:linear-gradient(to right, #A52C32, #5A0D0E);
  color:#ffffff;
  height:24px;
  -webkit-app-region:drag;
  position: fixed;
}

.windowcontainer {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.barbtn {
  height:100%;
  width:24px;
  margin-right:2px;
  float:right;
  position:relative;
  -webkit-app-region:no-drag;
}

.barbtn:hover {
  background:rgb(45, 48, 56);
  cursor:pointer;
}

.barbtn#close {
  margin:0;
}

.barbtn#close:hover {
  background:rgb(174,53,53);
  cursor:pointer;
}

.barbtn#logo {
  float:left;
  width:54px;
  top:-14px;
}

.barbtn#logo:hover {
  background:none;
}

.msgbox {
  background:rgb(228, 52, 58);
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
}

.linkinput {
  margin:5px auto;
  display:block;
  border:0;
  border-radius:8px;
  width:98%;
  height:80%;
  background:rgba(0, 0, 0, 0.2);
  color:rgba(255, 255, 255, 0.5);
  padding:10px;
}

.linkinput:focus {
  outline:none;
}

::placeholder {
  color:rgba(255, 255, 255, 0.5);
}

.hidden {
  display:none;
}

.left {
  float:left;
}

.right {
  float:right;
}

img {
  display:block;
  margin:auto;
}

